{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <section class="article-content">
        <h2 class="article-h1">About</h2>
        <div class="article-body">
            <p>This site was built and is maintained with the attitude of utmost respect and deepest gratitude for the rich heritage that has been preserved for me, specifically in this hymnal.</p>
            <p>It is my greatest desire that this work may touch the hearts of all who come here and feast on the beauty of this hymnal’s profound truths and glorious arrangements.</p>
            <p>If you find any errors, please let me know via the <a href="/contact">contact page</a>.</p>
            <p>Humbly submitted,<br>Bud Manz</p>
        </div>
    </section>
{% endblock %}
