{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class=page-header>Contact</h2>
                {#{{form_start(form)}}
                {{form_widget(form)}}
                {{form_end(form)}}#}
                <div class="email">
                    To contact me for anything, feel free to use <a href="mailto:zionsharponline@gmail.com">zionsharponline@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
