{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <section class="article-content">
        <h2 class="article-h1">Home</h2>
        <div class="article-body">

            <div class="wp-container-1 wp-block-group alignwide"><div class="wp-block-group__inner-container">
                    <p>Welcome to the online Zion’s Harp website!  This site is free to use and currently contains all the hymns from the 2000 version of the hymnal.</p>
                </div></div>

        </div>
    </section>
{% endblock %}
