{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <section class="article-content">
        <h2 class="article-h1">Terms of Use</h2>
        <div class="article-body">

            <div id="policy" width="640" height="480" data-policy-key="WldZeFJrUXpPR2RzTlVvd1YxRTlQUT09"
                 data-extra="h-align=left&amp;h-depth=3&amp;no-title=true&amp;table-style=accordion"> </div>
            <script src="https://app.termageddon.com/js/termageddon.js"></script>

        </div>
    </section>
{% endblock %}
